
.container1{
	margin:auto;
	z-index: 1;
	max-width: 90%;
}

.row{
	display: flex;
	flex-wrap: wrap;
	gap: 3%;
	justify-content: center;
}
ul{
	list-style: none;
}

.footer{
  background-color: var(--tertiary-color) ;
  padding: 10px 0;
  width: 100%;
	border-top: 1px solid var(--secondary-color);
}

.footer-col{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 22%;
	margin-top: 4%;
	margin-bottom: 2%;
}

.footer-col h4{
	padding: 5%;
	font-size: 20px;
	color: var(--secondary-color);
	font-weight: 500;
  letter-spacing: 3px;
	font-family: Roboto Slab;
	margin-bottom: 5%;

}

.footer-col h4::before{
	content: ' ';
	position: absolute;
	top: 50px;
	left: 50px;

	background-color: var(--secondary-color);
	height: 2px;
	box-sizing: border-box;
	width: 70%;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 5%;
}

.footer-col ul li{
	display: flex;
	margin-left: 50px;
}

.footer-col ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: var(--tertiary-color);
	text-decoration: none;
	font-weight: 500;
	color: var(--secondary-color);
	transition: all 0.3s ease;
  font-family: Mulish;
}

.footer-col ul li a:hover{
	color: var(--primary-color);
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--secondary-color);
	transition: all 0.5s ease;
  text-decoration: none;
  list-style: none;

	border: 1px solid black;
}

.footer-col .social-links a:hover{
	color: rgb(0, 212, 28);
	background-color: var(--secondary-color);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.footer-col img{
	height: 150px;
	margin-top: 10%;
}