

.title{
  padding-top: 80px;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  padding-left: 5%;
}

.title h1{
  font-size: clamp(50px, 7vw, 90px);
  color: var(--secondary-color);
  font-family: Roboto Slab;
}

.title p{
  font-size: clamp(12px, 1vw, 22px);
  padding-top: 2%;
  width: 70%;
  color: var(--primary-color);
  font-family: Mulish;
  margin-bottom: 2%;
}

main{
  padding: 5px;
}


/* --------------- NEWS SECTION -----------------*/

.archive-news{
  height: 100%;
  width: 100%;
  margin-bottom: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.archive-news-container{
  width: 94%;
  height: 65vh;
}

.hero-section{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 2%;
}

.hero1{
  width: 70%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.11);
}

.hero-img{
  width: 100%;
  height: 75%;
}

.hero-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.hero-text{
  height: 25%;
  padding: 1%;

  display: flex;
  width: 100%;
  gap: 10%;
}

.hero-text h1{
  font-size: clamp(1.75rem, 5vw, 3.5rem);
  color: var(--secondary-color);
  font-family: Roboto Slab;
  font-weight: 400;
  margin-left: 3%;

  width: 50%;
}

.hero-text p{
  font-size: 1rem;
  margin: 0px;
  padding-top: 0%;
  font-family: Mulish;
  line-height: 24px;
  width: 50%;
}

.news-bullets{
  background-color: var(--secondary-color);
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.bullet-title{
  margin: 5%;
  font-family: Roboto Slab;
}

.bullet-title h1{
  color: var(--fourth-color);
}

.bullet-info{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80%;
  justify-content: space-around;
}

.bullet{
  display: flex;
  flex-direction: column;
  padding-bottom: 15%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
  margin-left: 5%;
}

.bullet h1{
  padding-top: 5px;
  font-size: clamp(1.5rem, 5vw, 2.2rem);
  color: var(--tertiary-color);
  font-family: Roboto Slab;
  font-weight: 400;
}

.bullet p{
  color: var(--tertiary-color);
  font-size: 1rem;
  word-break: break-all;
  font-family: Mulish;
  font-weight: 300;
}

/*--------------------------- NEWS CARDS ------------------------*/

.news-cards{
  width: 100%;
  height: 50vh;
  margin-top: 5%;
  display: flex;
}

.news-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5%;
}

.card{
  width: 20%;
  height: 100%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.185);
  transition: all 0.5s ease-in-out;
}

.card:hover{
  border-color: var(--secondary-color);
}

.card-img{
  width: 100%;
  height: 100%;
}

.card-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(75%);
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

.card-img img:hover{
  transform: scale(1.1, 1.1);
}

.card-text{
  position:absolute;
  top: 65%;
  height: 35%;
  background-color: var(--tertiary-color);
  width: 100%;
  padding: 5%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card-text h1{
  padding-bottom: 5px;
  font-family: Roboto Slab;
  font-size: 1.5rem;
}

.card-text p{
  padding: 5px;
  font-family: Mulish;
  margin-bottom: 15px;
  font-size: 1rem;
}

.card-text a{
  text-decoration: none;
  padding: 10px;
  background-color: var(--fourth-color);
  margin-top: 5px;
  border-radius: 16px;
  font-family: Mulish;
  font-size: 0.8rem;
  color: var(--secondary-color);

  transition: all 0.5s ease-in-out;
}

.card-text a:hover{
  background-color: var(--primary-color);
}

@media (max-width: 1268px){

  .title{
    padding-top: 50px;
  }

  .archive-news{
    margin-top: 20%;
  }
  
  .hero-section{
    align-items: center;
    gap: 5%;
    flex-direction: column;
  }

  
  .archive-news-container{
    width: 94%;
    height: 105vh;
  }

  .news-bullets{
    width: 95%;
    height: 100%;
    margin-top: 20%;
  }

  .hero1{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    border: none;
  }

  .hero-text{
    height: 35%;
  
    display: flex;
    flex-direction: column;
  }

  .hero-text h1{
    font-weight: 400;
  
    width: 100%;
  }
  
  .hero-text p{
    font-size: 1rem;
    margin-left: 3%;
    padding-top: 1%;
    width: 100%;
    word-break: break-all;
  }
  
  .news-cards{
    margin-top: 25%;
    height: 280vh
  }

  .news-container{
    flex-direction: column;
  }
  
  .card{
    width: 90%;
    height: 20%;
    position: relative;
  }

  .card-text{
    position:absolute;
    top: 60%;
    height: 40%;
    background-color: var(--tertiary-color);
    width: 100%;
    padding: 5%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .news-cards:nth-child(3){
    margin-top: 0%;
  }
  
  
}