/* Base Styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --primary-color: #4b971c; /* Green */
  --secondary-color: #0E1514; /* dark green */
  --tertiary-color: #fffef8; /* white */
  --fourth-color: #3d97059d;
  --fifth-color: #1e3531;
  --brightness: brightness(100%);
  --background: rgba(0, 0, 0, 0.050);

  --transparent: transparent;
  --dark: rgba(0, 0, 0, 0.493);
}

.dark-theme{
  --secondary-color:  #fffef8; /* white */
  --tertiary-color: #0E1514;
  --brightness: brightness(80%);
  --background: rgba(255, 255, 255, 0.030);

  --transparent: #fffef88f;
  --dark: rgba(255, 255, 255, 0.493);
}

.logo {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}


.logo:hover {
  transform: scale(1.05); 
}

/*DARK MODE BUTTON*/

.img-fixed{
  background-color:#fffef8;
  padding: 13px 15px;
  border-radius: 200px;
  position: fixed;
  top: 88%;
  right: 5%;
  cursor: pointer;
  z-index: 1000;

  border: 1px solid rgba(0, 0, 0, 0.342);
}

.img-fixed img{
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.img-fixed img:hover{
  height: 35px
}

.img-rotate{
  transform: rotate(136deg);
}


/*GENERAL STYLES*/
body {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  transition: all 0.5s ease-in-out; /*how all animations play*/
}

footer {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 2rem;
  text-align: center;
}

p{
  font-family: Mulish;
}

/* LOADING SCREEN */
.preloader{
  background: #000 url("../pictures/pre.gif") no-repeat center;
  background-size: 250px;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.loader--hidden{
  opacity: 0;
  visibility: hidden;
}


/*------------------------  ANIMATIONS --------------------------*/

.animatable {
  visibility: hidden;
  animation-play-state: paused;
}

.animated {
  visibility: visible;

  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
}

@keyframes fadeIn {
  0%,
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.02);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInTop {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.animated.animationDelay {
  animation-delay: 0.4s;
}
.animated.animationDelayMed {
  animation-delay: 1.2s;
}
.animated.animationDelayLong {
  animation-delay: 1.6s;
}
.animated.bounceIn {
  animation-name: bounceIn;
}
.animated.bounceInRight {
  animation-name: bounceInRight;
}
.animated.bounceInTop {
  animation-name: bounceInTop;
}
.animated.bounceInLeft {
  animation-name: bounceInLeft;
}
.animated.fadeIn {
  animation-name: fadeIn;
}
.animated.fadeInDown {
  animation-name: fadeInDown;
}
.animated.fadeInUp {
  animation-name: fadeInUp;
}
.animated.moveUp {
  animation-name: moveUp;
}


/*SCROLL BAR*/
::-webkit-scrollbar{
  width: 1em;
}

::-webkit-scrollbar-track{
  width: 1em;
  background-color: var(--tertiary-color);
  border-radius: 5vw;
}

::-webkit-scrollbar-thumb{
  width: 1em;
  background-color: var(--primary-color);
  border: 0.25em solid var(--tertiary-color);
  border-radius: 85vw;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  :root {
    font-size: 16px; /* Decrease the font size of the root element */
  }

  body {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding-top: 0px;
  }

  .cta-button {
    margin-top: 1rem;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem 0;
  }

  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .subtext {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .hero-image img {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0;
  }

  section {
    padding: 2rem 0;
  }

  section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  section ul {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    list-style: none;
    padding: 0;
  }

  section li {
    margin-bottom: 0.5rem;
  }

  footer {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  ::-webkit-scrollbar-track{
    display: none;
  }
  
  ::-webkit-scrollbar-thumb{
    display: none;
  }
}



