/*part 1*/
body{
  height: 2000px;
  padding-top: 0px;
}

.part1{ 
  height: 55vh;
  background-repeat: no-repeat;
  background-position: top 30% right 70%;
  background-size: cover;
  background-image: url("../pictures/scrap.png");

  width: 100%;
}

.text-box1{
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: white;
  font-size: 5em;
  letter-spacing: 15px;
  font-family: Bebas Neue;
}

.part2{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holder{
  width: 90%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.refrence-box{
  background-color: #f5f5dc;
  padding: 10px;
  border: 1px solid black; 
  border-radius: 20px;
  width: 25%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 1s; 
}

.refrence-box:hover{
  transform: scale(1.06); 
}


.icon-pic{
  height: 50%;
}

.text-organizer{
  display: flex;
  flex-direction: column;
  width: 50%;
}

p{
  font-size: 15px;
  font-family: Truculenta;
  word-break: break-all;
}

.title-a{
  text-decoration: none;
  color: black;
  padding: 10px 0;
  font-size: 22px;
  font-family: Bebas Neue;
  transition: all 2s;
  transition: all 0.5s;
  letter-spacing: 1px;
}


.title-a:hover{
  color: #85bb65;
  letter-spacing: 3px;
}

.part3{
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-bottom: 20%;
}

h3{
  font-size: 45px;
  font-family: Bebas Neue;
  letter-spacing: 10px;
}

.text-box2{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.img-p{
  height: 50%;
  width: 33%;
}

.holder-2{
  padding-top: 150px;
  width: 100%;
  height: 100%;

  display: flex;
  column-gap: 3em;
  row-gap: 5em;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.i-1{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../pictures/site-link1.png);
}

.i-2{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../pictures/site-link2.png);
}

.i-3{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../pictures/site-link3.webp);
}

.i-4{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../pictures/site-link7.jpeg);
}

.i-5{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../pictures/site-link9.webp);
}

.i-6{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../pictures/haikei-400x300.jpg");
}


@media screen and (max-width: 767px) {
  h1{
    font-size: 3em;
  }

  .refrence-box{
    width: 95%;
    height: 30vh;
    margin: 10px;
  }

  .holder{
    width: 85%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  p{
    font-size: 11px;
  }

  .icon-pic{
    height: 25%;
  }
  
  .text-organizer{
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .part2{
    height: 10vh;
  }

  .part3{
    margin-top: 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 95%;
    margin-bottom: 180%;
  }

  .description{
    width: 33%;
    font-size: 10px;
  }

  .img-p{
    height: 25%;
    width: 95%;
  }

  .text-box2{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80%;
    display:flex;
    align-items: center;
    justify-content: center;
  }
}

.infinite-brands{
  height: 20vh;
  width: 100%;
  overflow: hidden;
  background:var(--tertiary-color);
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 5%;

  border-bottom: 3px solid rgba(0, 0, 0, 0.055);
  z-index: 1;
}

.infinite-brands:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0), var(--tertiary-color));
  content: " ";
  z-index: 2;
}

.infinite-brands:after{
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0), var(--tertiary-color));
  content: " ";
  z-index: 2;
}

.logos-slide{
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide .img1{
  height: 200px;
  margin: 0 40px;
}

/*javascript animations*/

.hidden{
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
}

.show{
  opacity: 1;
  filter: blur(0);
}

.hidden2{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show2{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden3{
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateY(-100%);
}

.show3{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.refrence-box:nth-child(2){
  transition-delay: 200ms;
}

.refrence-box:nth-child(3){
  transition-delay: 400ms;
}

.refrence-box:nth-child(4){
  transition-delay: 600ms;
}
